.queryMessage {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 70vh;
  text-align: center;
}

@media screen and (max-width: 652px) {
  .queryMessage {
    font-size: 15px;
    width: 100%;
  }
}

@media screen and (max-width: 522px) {
  .queryMessage {
    font-size: 13px;
    width: 100%;
  }
}
