.main-container,
.countrycard-container,
.search_and_filter_container {
  display: flex;
  align-items: center;
}

.main-container {
  width: 100%;
  flex-flow: column;
  justify-content: space-around;
}

.countrycard-container {
  width: 90%;
  flex-flow: row wrap;
  justify-content: space-between;
  margin-top: 20px;
}

.search_and_filter_container {
  width: 90%;
  margin-top: 40px;
  justify-content: space-between;
  flex-flow: row wrap;
}

@media screen and (max-width: 549px) {
  .countrycard-container {
    justify-content: center;
  }
}
